
body{
  color: rgb(2, 0, 128);
  font-size: 15px;
  
  background-size: cover;
  /* height: 600px;
  width: 800px; */
}

h1{
  color: whitesmoke;
  font-size: 80px;
  margin-bottom: 0;
}
h2{
  color: whitesmoke;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0;
}.form-group{
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(128, 68, 0);
  font-size: 30px;
  margin-top: 20px;
  width: 800px;
  border-radius: 15px;

}
.form-control{
  font-size: 30px;
  height: 40px;
  width: 300px;
  margin-top: 0px;
}
.location{
  color: white;
  font-size: 40px;
  height: 200px;
  width: 800px;
  margin-top: 10px;
  margin-bottom: 0;
}
.conditions{
  background-color: blue;
  color: white;
  font-size: 60px;
  height: 500px;
  width: 850px;
  /* border: 1px solid red ; */
  margin-top: 0px;
  /* border-radius: .25rem; */
}
.btn-primary{
  background-color: red;
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  height: 40px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}